.Rproj.user
.Rprofile
.Rhistory
mlr3torch.Rcheck/
mlr3torch*.tar.gz
mlr3torch*.tgz
.vscode/tasks.json
^README\.html$
*~
docs
inst/doc
**/.DS_Store
/doc/
/Meta/
CRAN-SUBMISSION
paper/data
.idea/
.vsc/
paper/data/
paper/benchmark/registry
.vscode/
paper/benchmark/registry-linux-cpu/
paper/benchmark/registry-macos/
paper/benchmark/registry-linux-gpu/
paper/benchmark/registry-linux-gpu-optimizer/
paper/benchmark/registry-linux-gpu-old/
paper/paper.aux
paper/paper.fdb_latexmk
paper/paper.fls
paper/paper.log
